@page "/"
@inject CatalogClient client;
@using MusicStore.Client.Clients
@using MusicStore.Client.Models

<PageTitle>Music Store</PageTitle>

<h1>Welcome to Music Store</h1>


@if (catalogs is null)
{
    <p><em>Waiting</em></p>
}
else
{
    <table>
        <thead>
        <th>Id</th>
        <th>Artist</th>
        <th>Genre</th>
        <th>Album</th>
        <th>Release Year</th>
        </thead>
        <tbody>
            @foreach (var item in catalogs)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Artist</td>
                    <td>@item.Genre</td>
                    <td>@item.Album</td>
                    <td>@item.ReleaseYear</td>
                </tr>
            }
        </tbody>
    </table>
}

@code{
    Catalog[]? catalogs =[];

    protected override async Task OnInitializedAsync()
    {
        catalogs = await client.GetAllCatalogsAsync();
    }
}